.user-panel__img {
  background-image: url("/assets/img/default_visitor.jpg");
}

@media (min-width: 768px) {
  .user-panel {
    height: 20rem;
  }
  .user-panel__img {
    top: -6rem;
  }
}

/* @media (min-width: 1280px) {
  .user-panel {
    max-width: 28.125rem;
  }
} */