.about {
    color: white;
}

.devcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.devcard {
    width: 25vh;
    margin: 1rem;
    /* flex-basis: 15%; */
}

@media (min-width: 1280px) {
    .card__img {
        object-position: 0% 32%;
    }
}