.card {
  max-width: 900px;
}

.card__img {
  object-position: 0% 30%;
}

.card__title-top {
  max-height: 60px;
}

.card__title-bottom {
  max-height: 2.2em;
}

/* hr ressources: https://codepen.io/joeyhoer/pen/BmqIx */
hr {
  border: 0;
  margin: 0.8em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;

}

.card__fade {
  border-width: 0 0 1px;
  color: grey;
  border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), grey 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
  border-style: solid;
}

@media (min-width: 1280px) {
  .card__img {
    object-position: 0% 32%;
  }
}