.nav {
}

.nav__user {
  background-image: url("/assets/img/default_visitor.jpg");
}

.nav__selected {
  color: gray;
}

@media (max-width: 640px) {
  .nav__list {
    transition: all 0.5s ease-out;
    max-height: 0;
  }

  .nav__list--active {
    max-height: 270px;
  }
  .nav__list-user {
    transition: all 0.5s ease-out;
    max-height: 0;
  }

  .nav__list-user--active {
    max-height: 200px;
  }
}

.nav__logo {
  animation-direction: alternate;
  animation-duration: 0.8s;
  animation-name: upanddown;
  animation-iteration-count: infinite;
  transform: translateX(-50%);
  top: 10px;
}

@keyframes upanddown {
  from {
    margin-top: 7px;
  }
  to {
    margin-top: 0;
  }
}
