.nav {

}

.nav__selected {
  color: red   
}

@media (max-width: 640px) {
  .nav__list {
    transition: all 0.7s ease-out;
    max-height: 0;
  }

  .nav__list--active {
    max-height: 270px;
  }
}